.footer__text {
    color: var(--color-text);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -20rem;
    padding-bottom: 20rem;
}
@media screen and (max-width: 980px) {
    .footer__text {
        margin-top: 20vh;
    }
}
