.footer__text {
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20vh;
  /* padding-bottom: 10rem; */
}

.wavespan {
  /* Positioning */
  position: sticky;
  bottom: 0;

  /* Sizing */
  width: 100%;
  max-height: 20vh; /* Limit height to 20% of viewport height */
  height: auto; /* Allow height to adjust based on content */

  /* Background Image Settings */
  background-image: url('../../assets/layered-waves-haikei.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto; /* Stretch horizontally, maintain aspect ratio vertically */

  /* Overflow Handling */
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .footer__text {
    margin-top: 20vh;
  }
}
