nav {
  background: rgba(0, 0, 0, 0.7);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 1000;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: var(--color-primary);
  color: var(--color-bg-variant);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg-variant);
}
